* {
  box-sizing: border-box;
}

html {
  background-color: #e5e5e5;
}

.console--item {
  margin-bottom: 15px;
}

.console--item--label {
  display: inline-block;
  width: 150px;
}

#log-container {
  max-height: 150px;
  overflow: scroll;
}

#log-container p.error {
  color: red;
}